*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  background-color:black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    font-size: 24px;
  color: black;
}
.main-body {
  background-color: wheat;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  margin-top: 250px;
  width: 500px;
  border-radius: 25px;
}
label{
    font-size: 18px;
}
 input[type=number]{
    width: 35%;
    padding: 10px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;

}
button{
    width: 50%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;
}
a{
    text-decoration: none;
}
.credits{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
